/**************** Start ****************/

#marketplace-body {
  background-color: var(--semi-dark);
}

/*** Main Content ***/
section.profile {
  padding: 0px;
  font-family: "work-sans";
  background-color: var(--dark);

  & .container {
    & .marketplace-info {
      padding: 80px 0px;

      & .marketplace-info-title {
        & h2 {
          color: var(--light);
          font-size: var(--second-level-heading-size);
          font-weight: 600;
          line-height: 110%;
        }
      }

      & .marketplace-info-description {
        & p {
          font-size: var(--fifth-level-heading-size);
          color: var(--light);
          line-height: 160%;
          margin-top: 10px;
          margin-bottom: 30px;
        }
      }

      & .marketplace-info-search {
        gap: 0px;
        position: relative;

        & input {
          padding: 19px 0px 19px 20px;
          background-color: transparent;
          border-radius: 20px;
          border: 1px solid var(--semi-dark);
          width: 100%;
        }

        & input::placeholder {
          color: var(--label-text);
        }

        & img {
          position: absolute;
          top: 15px;
          right: 20px;
        }
      }
    }

    & .marketplace-tabs {
      border-top: 1px solid var(--semi-dark);
      margin-top: 10px;

      & .tab {
        gap: 16px;

        & .text {
          font-weight: 600;
          font-size: var(--fifth-level-heading-size);
          line-height: 140%;
        }

        & .badge {
          color: var(--light);
          padding: 5px 10px;
          border-radius: 20px;
          background-color: var(--label-text);
        }
      }

      & .created {
        padding: 14px 202px;
        border-bottom: 2px solid var(--label-text);
      }

      & .collection {
        padding: 14px 173px;
      }
    }
  }
}

section.marketplace-cards {
  & .marketplace-cards-wrapper {
    gap: 30px;

    & .marketplace-card {
      font-family: "space-mono";
      background-color: var(--dark);
      max-width: 330px;
      padding: 0px 30px 20px 30px;
      border-radius: 20px;
      gap: 20px;
      cursor: pointer;

      & > img {
        max-height: 296px;
        max-width: 330px;
      }

      & .card-info {
        width: 100%;

        & h3 {
          margin-bottom: 5px;
          font-size: var(--fifth-level-heading-size);
          font-family: "work-sans";
        }

        & .marketplace-card-small-icon {
          gap: 12px;
          margin-bottom: 25px;
        }

        & .earnings-wrapper {
          width: 100%;

          & .earnings {
            gap: 10px;

            & .total-sales {
              text-transform: capitalize;
              color: var(--label-text);
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
/*** End Main Content ***/

footer {
  border-top: 2px solid var(--dark);
}

/**************** End ****************/
