/**************** Start ****************/

section.cover-background {
  padding: 0px;

  background: url("/assets/img/nft-page/nft-page-cover-image.png") center /
    cover no-repeat;

  width: 100%;
  height: 560px;
}

section.info-avatar {
  padding: 40px 0px;

  & .container {
    & .info-avatar-wrapper {
      /* left */
      & .info-avatar-left {
        font-family: "work-sans";
        gap: 30px;

        & h5 {
          font-size: var(--fifth-level-heading-size);
          color: var(--label-text);
          font-weight: 600;
          line-height: 140%;
        }

        & .orbitians {
          & h2 {
            font-size: var(--second-level-heading-size);
            color: var(--light);
            font-weight: 600;
            line-height: 110%;
            margin-bottom: 10px;
          }
          & p {
            font-size: var(--fifth-level-heading-size);
            color: var(--label-text);
            line-height: 160%;
          }
        }

        & .created {
          & h5 {
            margin-bottom: 10px;
          }

          & div {
            gap: 12px;

            & span {
              font-size: var(--fifth-level-heading-size);
              color: var(--light);
              line-height: 140%;
              font-weight: 600;
            }
          }
        }

        & .description {
          & h5 {
            margin-bottom: 10px;
          }

          & span {
            font-size: var(--fifth-level-heading-size);
            line-height: 160%;
            color: var(--light);
          }
        }

        & .details {
          & h5 {
            margin-bottom: 10px;
          }

          & .view-details {
            gap: 10px;
          }

          & .etherscan {
            margin-bottom: 10px;
          }
        }

        & .tags {
          & h5 {
            margin-bottom: 10px;
          }

          & div {
            gap: 20px;

            & div {
              padding: 12px 30px;
              border-radius: 20px;
              background-color: var(--semi-dark);
              line-height: 140%;
              color: var(--light);
              font-weight: 600;
            }
          }
        }
      }

      /* right */
      & .info-avatar-right {
        & .timer-wrapper {
          padding: 30px;
          gap: 30px;
          background-color: var(--semi-dark);
          border-radius: 20px;

          & .timer-auction-end {
            & .title {
              font-family: "space-mono";
              font-size: 12px;
              line-height: 110%;
              color: var(--light);
            }

            & .time {
              width: 100%;

              & h3 {
                font-family: "space-mono";
                font-size: var(--third-level-heading-size);
                color: var(--light);
                font-weight: 700;
                line-height: 120%;
                margin-top: 10px;
              }

              & .double-points {
                font-size: var(--fourth-level-heading-size);
                color: var(--light);
                font-weight: 700;
                line-height: 140%;
              }

              & .mark {
                font-family: "space-mono";
                font-size: 12px;
                line-height: 110%;
                color: var(--light);
              }
            }
          }

          & .timer-button {
            padding: 19px 79px;
            color: var(--light);
            background-color: var(--primary);
            font-weight: 600;
            line-height: 140%;
            border-radius: 20px;
            cursor: pointer;
            border: none;
            transition: all 0.5s ease;
            cursor: pointer;
          }

          & .timer-button:hover {
            transform: scale(0.95);
          }
        }
      }
    }
  }
}

section.more-artist {
  padding: 80px 0px 0px;

  & .container {
    & .more-artist-wrapper {
      & h2 {
        font-family: "work-sans";
        color: var(--third-level-heading-size);
        color: var(--light);
        font-weight: 600;
        line-height: 120%;
      }

      & div {
        gap: 12px;
        border: 2px solid var(--primary);
        padding: 20px 50px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.5s ease;

        & img {
          width: 20px;
          height: 20px;
        }

        & span {
          color: var(--light);
          font-weight: 600;
          line-height: 140%;
        }
      }

      & div:hover {
        transform: scale(0.95);
      }
    }
  }
}

section.more-artist-cards {
  padding: 60px 0px 80px;

  & .more-artist-cards-wrapper {
    gap: 30px;

    & .artist-card {
      font-family: "space-mono";
      background-color: var(--semi-dark);
      max-width: 330px;
      padding: 0px 30px 20px 30px;
      border-radius: 20px;
      gap: 20px;
      cursor: pointer;
      transition: all 0.6s ease;

      & > img {
        max-height: 296px;
        max-width: 330px;
      }

      & .card-info {
        width: 100%;

        & h3 {
          margin-bottom: 5px;
          font-size: var(--fifth-level-heading-size);
          font-family: "work-sans";
        }

        & .artist-card-small-icon {
          gap: 12px;
          margin-bottom: 25px;
        }

        & .earnings-wrapper {
          width: 100%;

          & .earnings {
            gap: 10px;

            & .total-sales {
              text-transform: capitalize;
              color: var(--label-text);
              font-size: 12px;
            }
          }
        }
      }
    }

    & .artist-card:hover {
      transform: scale(0.95);
    }
  }
}

/**************** End ****************/
