/**************** Start Styles ****************/

@font-face {
  font-family: "work-sans";
  src: url(../fonts/work-sans/WorkSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "space-mono";
  src: url(../fonts/space-mono/space-mono-regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  /*** width: 100%; ***/
}

:root {
  /*** colors ***/
  --primary: #a259ff;
  --light: #ffffff;
  --semi-light: #858584;
  --dark: #2b2b2b;
  --semi-dark: #3b3b3b;
  --label-text: #858584;

  /*** fonts ***/
  --first-level-heading-size: 67px;
  --second-level-heading-size: 51px;
  --third-level-heading-size: 38px;
  --fourth-level-heading-size: 28px;
  --fifth-level-heading-size: 22px;
}

/*** utility classes ***/
.container {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

/* flex */
.d-flex {
  display: flex;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-start {
  align-self: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

body {
  background-color: var(--dark);
}

h1 {
  font-family: "work-sans";
}

/*** Section ***/
section {
  padding-block: 80px;
  font-family: "work-sans";
  color: var(--light);

  & .section-header {
    margin-bottom: 60px;
  }

  & h2 {
    font-size: var(--third-level-heading-size);
  }
}

/*** Header ***/
header {
  padding: 20px 50px;
  color: var(--light);
  font-family: "work-sans";
  font-weight: 600;

  & .logo {
    font-family: "space-mono";
    font-size: var(--fifth-level-heading-size);

    & a {
      gap: 12px;
    }
  }

  & nav {
    & ul {
      gap: 10px;

      & li {
        transition: all 0.3s ease;

        &:last-child {
          & a {
            background-color: var(--primary);
            padding: 20px 30px;
            border-radius: 20px;
            gap: 12px;
          }
        }

        & a {
          padding: 12px 20px;
        }
      }

      & li:hover {
        transform: scale(0.95);
      }
    }
  }
}

/*** Main Content - Sections ***/
section.welcome {
  color: var(--light);

  & .welcome-content {
    max-width: 510px;

    & h1 {
      font-size: var(--first-level-heading-size);
      color: var(--light);
      margin-bottom: 20px;
    }

    & p {
      font-size: var(--fifth-level-heading-size);
      margin-bottom: 30px;
      line-height: 160%;
    }

    & button {
      background-color: var(--primary);
      border: var(--primary);
      color: var(--light);
      padding: 20px 50px;
      border-radius: 20px;
      margin-bottom: 30px;
      gap: 12px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 16px;
    }

    & button:hover {
      transform: scale(0.9);
    }

    & .statistic {
      gap: 30px;

      & .stat-number {
        font-size: var(--fourth-level-heading-size);
        font-family: "space-mono";
        font-weight: bold;
      }

      & .stat-text {
        font-family: "work-sans";
        font-size: 24px;
      }
    }
  }

  & .welcome-image {
    & .most-popular-nft {
      & .nft-info {
        background-color: var(--semi-dark);
        padding: 22px 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        & h3 {
          font-size: var(--fifth-level-heading-size);
          margin-bottom: 10px;
        }

        & .creator {
          gap: 12px;

          & img {
            width: 24px;
          }
        }
      }
    }
  }
}

section.trending-colletions {
  & .section-header {
    & h2 {
      margin-bottom: 10px;
    }
  }

  & .collections-wrapper {
    & .collection-card {
      & .card-images {
        & > img {
          margin-bottom: 15px;
        }

        & img {
          transition: all 0.5s;
          cursor: pointer;
        }

        & img:hover {
          transform: scale(0.97);
        }

        & .card-thumbnails {
          gap: 15px;

          & a {
            font-family: "space-mono";
            font-size: var(--fifth-level-heading-size);
            border-radius: 20px;
            padding: 32px 16px;
            background-color: var(--primary);
            transition: all 0.5s;
            cursor: pointer;
          }

          & a:hover {
            transform: scale(0.95);
          }
        }
      }

      & .card-info {
        margin-top: 15px;

        & .creator {
          gap: 12px;
          margin-top: 10px;

          & strong {
            font-weight: 400;
          }
        }
      }
    }
  }
}

section.top-creators {
  & .section-header {
    & h2 {
      margin-bottom: 10px;
    }

    & a {
      gap: 12px;
      padding: 20px 50px;
      border-radius: 20px;
      border: 2px solid var(--primary);
      cursor: pointer;
      transition: all 0.5s;

      & svg {
        & path {
          fill: var(--primary);
        }
      }
    }

    & a:hover {
      transform: scale(0.9);
    }
  }

  & .top-creators-wrapper {
    gap: 30px;

    & .creator-card {
      position: relative;
      background-color: var(--semi-dark);
      max-width: 240px;
      padding: 20px;
      border-radius: 20px;
      gap: 20px;
      cursor: pointer;
      transition: all 0.5s;

      & .card-info {
        & h3 {
          margin-bottom: 5px;
          font-size: var(--fifth-level-heading-size);
        }

        & .earnings {
          gap: 10px;

          & .total-sales {
            text-transform: capitalize;
            color: var(--label-text);
          }

          & .creator-earnings {
            font-family: "space-mono";
          }
        }
      }

      & .rank-badge {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--dark);
        color: var(--label-text);
      }
    }

    & .creator-card:hover {
      transform: scale(0.94);
    }
  }
}

section.browse-categories {
  & .categories-wrapper {
    gap: 30px;

    & li {
      cursor: pointer;
      transition: all 0.5s;

      &:nth-child(1) {
        & .category-header {
          background-image: url(../img/categories/category-art-cover.png);
        }
      }

      &:nth-child(2) {
        & .category-header {
          background-image: url(../img/categories/category-collectibles-cover.png);
        }
      }

      &:nth-child(3) {
        & .category-header {
          background-image: url(../img/categories/category-music-cover.png);
        }
      }

      &:nth-child(4) {
        & .category-header {
          background-image: url(../img/categories/category-photography-cover.png);
        }
      }

      &:nth-child(5) {
        & .category-header {
          background-image: url(../img/categories/category-art-cover.png);
        }
      }

      &:nth-child(6) {
        & .category-header {
          background-image: url(../img/categories/category-collectibles-cover.png);
        }
      }

      &:nth-child(7) {
        & .category-header {
          background-image: url(../img/categories/category-music-cover.png);
        }
      }

      &:nth-child(8) {
        & .category-header {
          background-image: url(../img/categories/category-photography-cover.png);
        }
      }

      & a {
        display: inline-block;
        width: 240px;

        &:hover {
          & .layer {
            & img {
              transform: scale(1.5);
            }
          }
        }

        & .category-header {
          width: 240px;
          height: 240px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          & .layer {
            width: 100%;
            height: 100%;
            backdrop-filter: blur(15px);
            border-radius: 20px 20px 0 0;

            & img {
              transition-duration: 0.4s;
            }
          }
        }

        & .category-footer {
          padding: 20px 30px;
          background-color: var(--semi-dark);
          border-radius: 0 0 20px 20px;

          & h4 {
            font-size: var(--fifth-level-heading-size);
          }
        }
      }
    }

    & li:hover {
      transform: scale(0.95);
    }
  }
}

section.discover-more {
  & .section-header {
    & h2 {
      margin-bottom: 10px;
    }

    & a {
      gap: 12px;
      padding: 20px 50px;
      border-radius: 20px;
      border: 2px solid var(--primary);

      & svg {
        & path {
          fill: var(--primary);
        }
      }
    }
  }

  & .discover-more-wrapper {
    gap: 30px;

    & .discover-card {
      font-family: "space-mono";
      background-color: var(--semi-dark);
      max-width: 330px;
      padding: 0px 30px 20px 30px;
      border-radius: 20px;
      gap: 20px;
      transition: all 0.5s;
      cursor: pointer;

      & > img {
        max-height: 296px;
        max-width: 330px;
      }

      & .card-info {
        width: 100%;

        & h3 {
          margin-bottom: 5px;
          font-size: var(--fifth-level-heading-size);
          font-family: "work-sans";
        }

        & .discover-card-small-icon {
          gap: 12px;
          margin-bottom: 25px;
        }

        & .earnings-wrapper {
          width: 100%;

          & .earnings {
            gap: 10px;

            & .total-sales {
              text-transform: capitalize;
              color: var(--label-text);
              font-size: 12px;
            }
          }
        }
      }
    }

    & .discover-card:hover {
      transform: scale(0.92);
    }
  }
}

section.magic-mashrooms-background {
  background:
    linear-gradient(
      to bottom,
      rgba(162, 89, 255, 0) 0%,
      rgba(162, 89, 255, 1) 100%
    ),
    url("/assets/img/magic-mashrooms-background/magic-mashrooms-background.png")
      center / cover no-repeat;

  min-height: 640px;
  padding: 360px 195px 60px;
  width: 100%;
  position: relative;

  & .magic-mashrooms-background-texts {
    max-width: max-content;

    & .magic-mashrooms-background-texts-left {
      font-family: "work-sans";
      gap: 30px;

      & .magic-mashrooms-background-texts-left-top {
        background-color: var(--semi-dark);
        color: var(--light);
        gap: 12px;
        padding: 10px 20px;
        border-radius: 20px;
        max-width: min-content;
        transition: all 0.5s;
        cursor: pointer;
      }

      & .magic-mashrooms-background-texts-left-top:hover {
        transform: scale(0.94);
      }

      & p {
        font-size: var(--second-level-heading-size);
        font-weight: 600;
        padding-right: 370px;
      }

      & button {
        padding: 22px 50px;
        color: var(--dark);
        background-color: var(--light);
        border-radius: 20px;
        gap: 12px;
        border: none;
        font-weight: 600;
        line-height: 140%;
        max-width: max-content;
        transition: all 0.5s;
        cursor: pointer;
      }

      & button:hover {
        transform: scale(0.94);
      }
    }
  }
}

section.how-it-work {
  & .section-header {
    & h2 {
      margin-bottom: 10px;
      font-size: var(--third-level-heading-size);
      font-weight: 600;
    }
    & p {
      font-size: var(--fifth-level-heading-size);
    }
  }

  & .how-it-work-wrapper {
    gap: 30px;
    min-height: min-content;

    & .how-it-work-card {
      font-family: "work-sans";
      background-color: var(--semi-dark);
      max-width: 330px;
      min-height: 456px;
      padding: 10px 30px 30px 30px;
      border-radius: 20px;
      gap: 20px;

      & > img {
        max-height: 296px;
        max-width: 330px;
      }

      & .card-info {
        width: 100%;
        gap: 10px;

        & p {
          font-size: var(--fifth-level-heading-size);
          font-weight: 600;
        }

        & span {
          line-height: 140%;
          text-align: center;
        }
      }
    }
  }
}

section.subscription {
  & .subscription-wrapper {
    background-color: var(--semi-dark);
    font-family: "work-sans";
    padding: 60px;
    gap: 80px;
    border-radius: 20px;

    & .subscription-left {
      img {
        border-radius: 20px;
      }
    }

    & .subscription-right {
      gap: 40px;

      & div.subscription-right-top {
        gap: 10px;

        & p {
          font-size: var(--third-level-heading-size);
          font-weight: 600;
          line-height: 120%;
        }

        & span {
          font-size: var(--fifth-level-heading-size);
          line-height: 160%;
        }
      }

      & div.subscription-right-bottom {
        position: relative;

        & input {
          border-radius: 20px;
          padding: 16px 16px 16px 20px;
          border: none;
        }

        & input::placeholder {
          color: var(--semi-dark);
          line-height: 140%;
        }

        & button {
          background-color: var(--primary);
          color: var(--light);
          font-weight: 600;
          border-radius: 20px;
          padding: 14px 30px 14px 50px;
          gap: 12px;
          border: none;

          position: absolute;
          top: 0px;
          left: 160px;

          transition: all 0.5s;
          cursor: pointer;

          & img {
            width: 20px;
            height: 20px;
          }
        }
      }

      & div.subscription-right-bottom button:hover {
        transform: scale(1.05);
      }
    }
  }
}
/*** End Main Content ***/

/*** Footer ***/
footer {
  background-color: var(--semi-dark);
  color: #cccccc;
  padding: 40px 146px;
  font-family: "work-sans";

  & .footer-top {
    padding: 0px 31px;
    margin-bottom: 30px;
    min-height: 191px;

    & .footer-top-content {
      & .footer-top-content-first {
        min-width: 327px;

        & .footer-top-content-first-storefront {
          gap: 12px;

          & span {
            color: var(--light);
            font-weight: 700;
            font-size: var(--fifth-level-heading-size);
            line-height: 160%;
            font-family: "space-mono";
          }
        }

        & .footer-top-content-first-centre-text {
          margin: 30px 0px 20px 0px;
          line-height: 140%;
          max-width: 240px;
        }

        & .social-networks-wrapper {
          gap: 15px;
          line-height: 140%;

          & .social-networks {
            gap: 10px;

            & img:hover {
              cursor: pointer;
            }
          }
        }
      }

      & .footer-top-content-second {
        min-width: 240px;
        gap: 25px;

        & h3 {
          color: var(--light);
          font-weight: 700;
          font-size: var(--fifth-level-heading-size);
          line-height: 160%;
          font-family: "space-mono";
        }

        & div {
          gap: 20px;

          & a {
            line-height: 140%;
          }
        }
      }

      & .footer-top-content-third {
        min-width: 420px;

        & h3 {
          color: var(--light);
          font-weight: 700;
          font-size: var(--fifth-level-heading-size);
          line-height: 160%;
          font-family: "space-mono";
        }

        & span {
          margin: 25px 0px 20px;
          max-width: 330px;
          line-height: 140%;
        }

        & .footer-subscription {
          position: relative;

          & input {
            border-radius: 20px;
            padding: 16px 16px 16px 20px;
            border: none;
            width: 75%;
          }

          & input::placeholder {
            color: var(--semi-dark);
            line-height: 140%;
          }

          & button {
            background-color: var(--primary);
            color: var(--light);
            font-weight: 600;
            border-radius: 20px;
            padding: 16px 60px;
            gap: 12px;
            border: none;

            transition: all 0.5s ease;
            cursor: pointer;

            position: absolute;
            top: 0px;
            left: 230px;
          }
          & button:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  & .footer-bottom {
    border-top: 1px solid var(--label-text);
    cursor: pointer;

    & p {
      margin-top: 20px;
      line-height: 110%;
      font-size: 12px;
      color: #cccccc;
    }
  }
}

/**************** End Styles ****************/
